<nav class="site-title">
  <a href="/">
    <h1>Blog</h1>
    <p>A blog Site</p>
  </a>
  <ul>
    <li>
      <a href="/">Blogs</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/blogs/create">New Blog</a>
    </li>
  </ul>
</nav>
